@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal: #d3d3af;
  --fighting: #d56723;
  --flying: #a1d1f8;
  --poison: #7fa8c9;
  --ground: #7c7e29;
  --rock: #a38c21;
  --bug: #729f3f;
  --ghost: #7b62a3;
  --steel: #9eb7b8;
  --fire: #fd7d24;
  --water: #4592c4;
  --grass: #9bcc50;
  --electric: #eed535;
  --psychic: #f366b9;
  --ice: #51c4e7;
  --dragon: #3d167c;
  --dark: #303030;
  --fairy: #fdb9e9;
  --unknown: #000;
  --shadow: #333;
}
.pattern {
  background-image: url("../public/pattern/hexagon7.svg");
}
.pattern-negative {
  background-image: url("../public/pattern/hexagon6.svg");
}
.pattern-square {
  background-image: url("../public/pattern/squaresplus.svg");
}
.pattern-leave {
  background-image: url("../public/pattern/leaves.svg");
}

.normal {
  background-color: var(--normal);
}
.fighting {
  background-color: var(--fighting);
}
.flying {
  background-color: var(--flying);
}
.poison {
  background-color: var(--poison);
}
.ground {
  background-color: var(--ground);
}
.rock {
  background-color: var(--rock);
}
.bug {
  background-color: var(--bug);
}
.ghost {
  background-color: var(--ghost);
}
.steel {
  background-color: var(--steel);
}
.fire {
  background-color: var(--fire);
}
.water {
  background-color: var(--water);
}
.grass {
  background-color: var(--grass);
}
.electric {
  background-color: var(--electric);
}
.psychic {
  background-color: var(--psychic);
}
.ice {
  background-color: var(--ice);
}
.dragon {
  background-color: var(--dragon);
}
.dark {
  background-color: var(--dark);
}
.fairy {
  background-color: var(--fairy);
}
.unknown {
  background-color: var(--unknown);
}
.shadow {
  background-color: var(--shadow);
}

.border-normal {
  border-color: var(--normal);
}
.border-fighting {
  border-color: var(--fighting);
}
.border-flying {
  border-color: var(--flying);
}
.border-poison {
  border-color: var(--poison);
}
.border-ground {
  border-color: var(--ground);
}
.border-rock {
  border-color: var(--rock);
}
.border-bug {
  border-color: var(--bug);
}
.border-ghost {
  border-color: var(--ghost);
}
.border-steel {
  border-color: var(--steel);
}
.border-fire {
  border-color: var(--fire);
}
.border-water {
  border-color: var(--water);
}
.border-grass {
  border-color: var(--grass);
}
.border-electric {
  border-color: var(--electric);
}
.border-psychic {
  border-color: var(--psychic);
}
.border-ice {
  border-color: var(--ice);
}
.border-dragon {
  border-color: var(--dragon);
}
.border-dark {
  border-color: var(--dark);
}
.border-fairy {
  border-color: var(--fairy);
}
.border-unknown {
  border-color: var(--unknown);
}
.border-shadow {
  border-color: var(--shadow);
}
